@import "modern-normalize/modern-normalize.css";
@import "tailwindcss";
@import "./shared/styles/fonts.css";

@theme {
  --font-body: "Stolzl", system-ui, sans-serif;
  --font-heading: "Halvar Breit", "Stolzl", system-ui, sans-serif;

  --color-yellow: #FEE97D;
  --color-light-purple: #8E03D1;
  --color-purple-main: #9E13E0;
  --color-purple-dark: #560080;
  --color-purple-darker: #220032;
  --color-black: #0C090E;
  --color-white: #FFFFFF;

  --spacing-container: 80rem;
  --container-max-width: 80rem;
  --container-padding-x: 1rem;
}

@media (width >= 768px) {
  :root {
    --container-padding-x: 1.5rem;
  }
}

@media (width >= 1280px) {
  :root {
    --container-padding-x: 2rem;
  }
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  @apply font-body;
}
